fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
sqlmodel
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
google-cloud-vision
reportlab
supabase
easyocr
